/* You can add global styles to this file, and also import other style files */

html, body {
  /*background-image: url("./assets/wallpaper2.jpg");
  background-size: cover;*/
  background-color: #32ab9f;
  margin: 0;
}
