/* You can add global styles to this file, and also import other style files */

html, body {
  background: url("{{ url_for('static', filename='logo_little.png') }}");
  background-repeat: repeat;
  margin: 0;
}
