/* CSS page for feed page */

.main-div {
  position: absolute;
  width: 80%;
  height: 92%;
  margin: 0;
  left: 10%;
  background-color: #32ab9f;
  box-shadow: 0 0 40px black;
}

.top-div {
  position: static;
  top: 0;
  width: 100%;
  height: 4%;
  left: 0;
}

.top-div #logo {
  position: absolute;
  left: 0;
}

.top-div #loginLink {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 200%;
  color: black;
}

.top-div #loginLink:hover {
  color: #66c0b7;
}

.mid-div {
  position: absolute;
  width: 50%;
  top: 10%;
  height: 90%;
  left: 25%;
  overflow: auto;
}

.post {
  position: relative;
  display: inline-block;
  width: 80%;
  box-shadow: 0 10px 6px black;
  border: inset 2px black;
  margin-left: 10%;
  margin-top: 5px;
  min-height: 100px;
  background-color: white;
}

.separator {
  position: relative;
  display: inline-block;
  margin-left: 25%;
  background-color: white;
  width: 50%;
  height: 2px;
}

.post-useravatar {
  position: absolute;
  width: 10%;
  height: auto;
  top: 1%;
  left: 1%;
}

.post-username {
  position: absolute;
  top: 0;
  margin-top: 5px;
  left: 12%;
}

.post-content {
  position: absolute;
  left: 15%;
  top: 33%;
  font-weight: bold;
}

.post-date {
  position: absolute;
  bottom: 0;
}

.post-like {
  position: absolute;
  bottom: 0;
  right: 20%;
}

.post-comment {
  position: absolute;
  bottom: 0;
  right: 5%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #66c0b7;
}

a:hover {
  color: #32ab9f;
}

.footer {
  position: absolute;
  display: block;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  padding-bottom: 10px;
  background-color: #66c0b7;
  font-family: "Calibri", Arial, sans-serif;
  font-size: 120%;
  color: #cceae7;
}

