<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='feed.css') }}">
  <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='styles.css') }}">
</head>

<body>

  <div class="main-div">
    <div class="top-div">
      <a href="/main"><img src="{{ url_for('static', filename='logo_little.png') }}" id="logo"></a>
      <a href="/login" id="loginLink">>> Log In</a>
    </div>

      <div class="left-div">
          <div class="inputs">
              <form title="post-form">
                  <input type="text" name="post-content" placeholder="What do you wanna say?" id="postContent">
                  <input type="button" value="Post!" name="postbutton" id="postButton">
              </form>
          </div>
      </div>

    <div class="mid-div">

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

      <span class="separator"></span>

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

        <span class="separator"></span>

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

        <span class="separator"></span>

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

        <span class="separator"></span>

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

        <span class="separator"></span>

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

        <span class="separator"></span>

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

        <span class="separator"></span>

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

        <span class="separator"></span>

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

        <span class="separator"></span>

        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Username</span>
            <span class="post-content">blah blah blah</span>
            <span class="post-date">12/34/5678</span>
            <a class="post-like" href="#">Like <span>X</span></a>
            <a class="post-comment" href="#">Comment <span>X</span></a>
        </div>

        <span class="separator"></span>


    </div>

  </div>

  <div class="footer">
    <span>BJTU Twitterlike application ~ Software Project Management 1</span><br/>
    <span>Louis CHAUMIER, Kévin CHUANG, Sylvain BIRUKOFF</span>
  </div>

</body>
