<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='feed.css') }}">
  <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='styles.css') }}">
</head>

<body>

  <div class="main-div">
    <div class="top-div">
        <a href="/main"><img src="{{ url_for('static', filename='logo_little.png') }}" id="logo"></a>
        <a href="/account" id="accountLink">Account</a>
        <a href="/logout" id="logoutLink">Logout</a>
    </div>

      <div class="left-div">
          <div class="inputs">
              <form title="post-form" action="{{ url_for('add_post') }}" method="post">
                  <input type="text" name="post-content" placeholder="What do you wanna say?" id="postContent">
                  <input type="submit" value="Post!" name="postbutton" id="postButton">
              </form>
          </div>
      </div>

    <div class="mid-div">
        {% for entry in entries %}
        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Nickname</span>
            <span class="post-content">{{ entry[1] }}</span>
            <span class="post-date">{{ entry[2] }}</span>
            <a class="post-like" href="#">Like <span>{{ entry[3] }}</span></a>
            <a class="post-comment" href="/post/{{ entry[0] }}">Comment <span>X</span></a>
        </div>
    {%  endfor %}
    </div>

  </div>

  <div class="footer">
    <span>BJTU Twitterlike application ~ Software Project Management 1</span><br/>
    <span>Louis CHAUMIER, Kévin CHUANG, Sylvain BIRUKOFF</span>
  </div>

</body>
