<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
  <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="left-panel">
  </div>
  <div class="right-panel">
  </div>
  <div class="main-div">
    <div class="top-div">
      <a href="/main"><img src="../assets/logo_little.png" id="logo"></a>
    </div>
    <div class="main-box">
      <h1>
        Welcome User!<br/>
        <img src="../assets/hello.gif">
      </h1>
      <div class="inputs">
        <form title="loginForm" action="login.component.html">
          <input type="text" id="login" placeholder="Login or Mail" class="text-in-form"/><br/><br/>
          <input type="password" id="password" placeholder="Password" class="text-in-form"/><br/>
          <input type="button" id="loginButton" value="Log In!">
        </form>
      </div>
      <div class="little-links">
        <a href="/registration">Sign in</a><br/>
        <a href="/login">Forgot your password?</a>
      </div>
    </div>
  </div>

  <div class="down-arrow">
    <a href="/login#window-div">
      <div><img src="../assets/down-chevron.png"></div>
    </a>
  </div>

  <div class="window-div" id="window-div">
    <img src="../assets/jiaotongdaxue1.jpg" id="jiaotongdaxue1"/>
    <div class="midboxes" id="midbox1">
      <div class="midtext">
        <a href="/feed">
          <input type="button" value="Feed Page!" id="midboxbutton1">
        </a>
      </div>
    </div>
    <div class="midboxes" id="midbox2">
      <div class="midtext"><input type="button" value="Midbox2" id="midboxbutton2"></div>
    </div>
    <div class="midboxes" id="midbox3">
      <div class="midtext"><input type="button" value="Midbox3" id="midboxbutton3"></div>
    </div>
    <div class="midboxes" id="midbox4">
      <div class="midtext"><input type="button" value="Midbox4" id="midboxbutton4"></div>
    </div>
  </div>

  <div class="footer">
    <span>BJTU Twitterlike application ~ Software Project Management 1</span><br/>
    <span>Louis CHAUMIER, Kévin CHUANG, Sylvain BIRUKOFF</span>
  </div>
</body>
