<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post.css') }}">
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="main-div">
    <div class="top-div">
        <a href="/main"><img src="{{  url_for('static', filename='logo_little.png') }}" id="logo"></a>
        <a href="/account" id="accountLink">Account</a>
        <a href="/logout" id="logoutLink">>> Log out</a>
    </div>

    <div class="mid-div">
      {% for entry in entries %}
        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Nickname</span>
            <span class="post-content">{{ entry[1] }}</span>
            <span class="post-date">{{ entry[2] }}</span>
            <span class="post-edit"><a href="">Edit</a></span>
            <a class="post-like" href="#">Like <span>{{ entry[3] }}</span></a>
        </div>
        <div class="comment-section">
          <form action="{{ url_for('add_comment', post_id=entry[0]) }}" method="post">
            <input type="text" name="comment" id="comment" placeholder="Comment!">
            <input type="submit" name="submitButton" id="submitButton" value="OK!">
          </form>
            <div class="userComments">
                <div class="comment">
                    <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
                    <span class="post-username">Nickname</span>
                    <span class="post-content">{{ entry[1] }}</span>
                    <span class="post-date">{{ entry[2] }}</span>
                    <span class="post-edit"><a href="">Edit</a></span>
                    <a class="post-like" href="#">Like <span>{{ entry[3] }}</span></a>
                </div>

            </div>

        {%  endfor %}

    </div>

</div>

</body>
