<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post.css') }}">
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='post.js') }}"></script>
</head>
<body>

<div class="main-div">
    <div class="top-div">
        <a href="/feed"><img src="{{  url_for('static', filename='logo_little.png') }}" id="logo"></a>
        <a href="/account" id="accountLink">Account</a>
        <a href="/logout" id="logoutLink">>> Log out</a>
    </div>

    <div class="mid-div">
      {% for entry in entries %}
        <div class="post">
            <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
            <span class="post-username">Nickname</span>
            <span class="post-content">{{ entry[1] }}</span>
            <span class="post-date">{{ entry[2] }}</span>
            <span class="post-edit"><a href="javascript:editBoxPopup()">Edit</a></span>
            <span class="post-delete"><a href="javascript:deleteBoxPopup()">Delete</a></span>
            <a class="post-like" href="/like_post/{{ entry[0] }}/{{ entry[0] }}">Like <span>{{ entry[3] }}</span></a>
        </div>
        <div class="comment-section">
            <div class="userComments">
            {% for comment in comments %}
                <div class="comment">
                    <img class="post-useravatar" src="{{ url_for('static', filename='avatar.png') }}">
                    <span class="post-username">Nickname</span>
                    <span class="post-content">{{ comment[1] }}</span>
                    <span class="post-date">{{ comment[2] }}</span>
                    <span class="post-edit"><a href="">Edit</a></span>
                    <a class="post-like" href="/like_post/{{ entry[0] }}/{{ comment[0] }}">Like <span>{{ comment[3] }}</span></a>
                </div>
            {%  endfor %}
            </div>
        <form action="{{ url_for('add_comment', post_id=entry[0]) }}" method="post">
            <input type="text" name="comment" id="comment" placeholder="Comment!">
            <input type="submit" name="submitButton" id="submitButton" value="OK!">
        </form>


        {%  endfor %}

    </div>

</div>

    <div id="editBox">
        <div class="overlay"></div>
        <div class="editBox">
            <div class="editBoxMsg"></div>
            <input type="text" id="editBoxText"><br/>
            <span class="editBoxOk">Ok!</span>
            <span class="editBoxCancel">Cancel</span>
        </div>
    </div>
    <div id="deleteBox">
        <div class="overlay"></div>
        <div class="deleteBox">
            <div class="deleteBoxMsg"></div>
            <span class="deleteBoxOk">I am sure</span>
            <span class="deleteBoxCancel">Cancel</span>
        </div>
    </div>

</body>
