<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registration.css') }}">
  <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='styles.css') }}">
</head>

<body>

  <div class="top-div">
    <a href="/login"><img src="{{ url_for('static', filename='logo_little.png') }}" id="logo"></a>
  </div>

  <div class="main-div">
    <h1>
      <img src="{{ url_for('static', filename='hello.gif') }}">
      Sign in page!
    </h1>
    <div class="inputs">
      <form title="registrationForm" action="{{ url_for('registration') }}" method="post">
        <input type="text" name="login" placeholder="Login" class="text-in-form"/><br/>
        <input type="text" name="lastname" placeholder="Lastname" class="text-in-form"/><br/>
        <input type="text" name="firstname" placeholder="Firstname" class="text-in-form"/><br/>
        <input type="text" name="mail" placeholder="Mail" class="text-in-form"/><br/>
        <select name="gender">
          <option value="-" selected >Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="error">Oh...</option>
        </select><br/>
        <input type="password" name="password" placeholder="Password" class="text-in-form"/><br/>
        <input type="submit" id="registrationButton" value="Register!">
      </form>
    </div>

    <div class="little-links">
      <a href="/login">Have an account already? Log In!</a>
    </div>
  </div>

  <div class="footer">
    <span>BJTU Twitterlike application ~ Software Project Management 1</span><br/>
    <span>Louis CHAUMIER, Kévin CHUANG, Sylvain BIRUKOFF</span>
  </div>

</body>
